<!DOCTYPE html>

<html lang="en">

<head>

  <%- include("partials/_page_head") %>

  <title>TinyApp - Error</title>

</head>

<body>

  <%- include("partials/_header") %>

  <main style="margin: 1em;">
    <div class="card text-center">

      <div class="card-header"></div>

      <div class="card-body mx-auto">

        <h3 class="mb-3">Error</h3>

        <span><%= errorMsg  %></span>

      </div>

      <div class="card-footer"></div>

    </div>
  </main>

</body>

</html>
