<!DOCTYPE html>

<html lang="en">

<head>

  <%- include("partials/_page_head") %>

  <title>TinyApp - Register</title>

</head>

<body>

  <%- include("partials/_header") %>

  <main style="margin: 1em;">
    <div class="card text-center">

      <div class="card-header"></div>

      <div class="card-body mx-auto">

        <h3 class="mb-3">Create new account</h3>

        <form method="POST" action="/register">
          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Email</span></div>
            <input type="email" id="email" name="email" class="form-control" style="max-width: 15em;">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Password</span></div>
            <input type="password" id="password" name="password" class="form-control" style="max-width: 15em;">
          </div>
          <div class="input-group mb-3">
            <button type="submit" id="submit" class="btn btn-primary">Register</button>
          </div>
        </form>

      </div>

      <div class="card-footer"></div>

    </div>
  </main>

</body>

</html>
